@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* 定義前後左右上下的div 寬高 */
.face {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 20px;
}
/* 定義前面div 的顏色與X軸位置 */
.cube_front {
  background-color: #f00;
  transform: translateZ(100px);
}
/* 定義後面div 的顏色 X軸位置 與 Y軸旋轉角度 */
.cube_back {
  background-color: #00f;
  transform: rotateY(180deg) translateZ(100px);
}
/* 定義右邊div 的顏色 X軸位置 與 Y軸旋轉角度 */
.cube_right {
  background-color: #ff0;
  transform: rotateY(90deg) translateZ(100px);
}
/* 定義左邊div 的顏色 X軸位置 與 Y軸旋轉角度 */
.cube_left {
  background-color: #0ff;
  transform: rotateY(-90deg) translateZ(100px);
}
/* 定義上面div 的顏色 X軸位置 與 X軸旋轉角度 */
.cube_top {
  background-color: #0fff;
  transform: rotateX(90deg) translateZ(100px);
}
/* 定義下面div 的顏色 X軸位置 與 X軸旋轉角度 */
.cube_bottom {
  background-color: #f0f;
  transform: rotateX(-90deg) translateZ(100px);
}

.shake:hover {
  animation: shake 800ms ease-in-out;
}
@keyframes shake {
  /* 水平抖动，核心代码 */
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(+2px, 0, 0);
  }
  30%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(+4px, 0, 0);
  }
  50% {
    transform: translate3d(-4px, 0, 0);
  }
}
